body {
  position: relative;
}

#quote-cta-form-wrapper {
  visibility: hidden;
  display: none;
}

#quote-cta-form-wrapper.show {
  visibility: visible;
  display: block;
}

#quote-cta-form-dialog-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 99998;
}

.webform-submission-free-quote-popup-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  min-height: 400px;
  margin: 15% auto;
  label {
    color: $brand-primary;
  }
  input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 18px;
    padding: 25px 12px;
    border-color: #e8e8e8;
  }
  button.webform-button--submit {
    display: block;
    background: $brand-secondary;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
  }
}

/* Popup container */
.popup-button {
  display: inline-block;
  cursor: pointer;

  border: 1px solid #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 15px;
  margin-left: 30px;
}
.popup-button:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media (max-width: $screen-xs-max) {
  .popup-button {
    display: block;
    max-width: 200px;
    text-align: center;
    margin: 15px auto;
  }
}