@media (min-width: 1440px) {
  .container,
  .navbar.container {
    width: 1410px;
    max-width: 1410px;
  }
}

@media (min-width: 1590px) {
  .container,
  .navbar.container {
    width: 1560px;
    max-width: 1560px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 0 !important;
  }
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.well {
  background-color: transparent;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}

@media (max-width: $screen-xs-max) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
}