.pre-footer-wrap {
  background-color: $brand-primary;
  color: #fff;
  padding: 30px 0;
  margin-top: 45px;
  a {
    color: #fff;
  }
  #block-quotectaprefooter {
    font-size: 20px;
    font-weight: 600;
  }
}

.footer-wrap {
  background-color: $brand-grey;
  color: #fff;
  .footer {
    border: none;
    a {
      color: #fff;
      text-decoration: underline;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
}

.region-copyright {
  margin: 17px 0 15px;
}