.nav-wrap {
  height: 130px;
  padding: 40px 0;
  margin-bottom: 15px;
  .nav-outer {
    background-color: $brand-primary;
    position: relative;
  }
  .logo img {
    position: absolute;
    top: -35px;
    left: 0;
    width: 250px;
    height: 120px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 3px 10px -4px rgba(0,0,0,0.6);
    box-shadow: 0 3px 10px -4px rgba(0,0,0,0.6);
  }
}

.navbar-default {
  background-color: transparent;
  border: none !important;
  .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
}

.navbar-default .navbar-toggle {
  background-color: #fff !important;
  .icon-bar {
    background-color: #707070 !important;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: transparent !important;
}

.nav-outer {
  z-index: 999;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
  border: none !important;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}

@media (max-width: 767px) {
  .nav-wrap .logo img {
    top: -17px;
    left: 15px;
    width: 170px;
    height: 80px;
  }
  .navbar-collapse {
    padding-top: 20px;
  }
}

@media (min-width: 1440px) {
  .nav-wrap .nav-outer .logo img {
    left: 15px;
  }
}