<div id="quote-cta-form-wrapper">
    <div id="quote-cta-form-dialog-wrapper" onclick="closeCtaDialog()">
    </div>
    <div class="form-dialog">
        {{ content }}
    </div>
</div>
<script>
    var ctaDialog = document.getElementById('quote-cta-form-wrapper');
    window.closeCtaDialog = function() {
        ctaDialog.classList.remove('show');
    };
    window.openCtaDialog = function(){
        ctaDialog.classList.add('show');
    };
</script>