article.page,
.page-node-type-webform {
  .field--name-body {
    max-width: 900px;
  }
}

.page-node-type-webform {
  .field--name-webform {
    max-width: 600px;
  }
  .webform-submission-form {
    margin: 30px 0;
    label {
      color: $brand-primary;
      text-transform: lowercase;
      font-weight: bold;
      font-size: 18px;
    }
    button.webform-button--submit {
      display: block;
      background: $brand-secondary;
      border: none;
      border-radius: 0;
      width: 230px;
      padding: 12px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}